{% extends "core/base.html" %}


{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-md-center">
            <h1>A que direccion debemos entregar</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <h2>Selecione su direccion</h2>
                </div>
                <div class="row">
                    <ul>
                        {% for item in object_list %}
                            <li>
                                <a href="{{ item.check_direccion }}">{{ item.calle }}</a>
                            </li>
                            
                        {% empty %}
                            <li>No has agregado direcciones de entrega.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h2>Agregue una nueva</h2>
                </div>
                <div class="row">
                    <form method="post" action="{% url 'add-addres' %}">
                        {{form.as_p}}
                        {% csrf_token %}
                        <button class="btn btn-secondary" type="submit">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock content %}