{% extends "core/base.html" %}

{% block content %}

{{detalle.user}}

{% for taco in detalle.items.all%}
    <li>
        {{taco}}
    </li>
{%endfor%}   


<form action="{% url "DetalleOrdenCan" detalle.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Cancelar</button>
</form>

<form action="{% url "DetalleOrdenEnv" detalle.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Enviado</button>
</form>

<form action="{% url "DetalleOrdenRec" detalle.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Recibido por el cliente</button>
</form>

{% endblock content %}